# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [3]:
number = 6

print(number)

6

##### Assinging float

In [15]:
numberFloat = 2.3
print(numberFloat)
print(numberFloat)
numberFlaot = 7.2
print(numberFloat)

2.3
2.3
2.3

#### Performing Calculations on ints and floats

##### Addition

In [2]:
num1 = 2
num2 = 5.4

result = num1 + num2
print(result)

result += 2
print(result)

7.4
9.4

##### Subtraction

In [3]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 1
print(result_diff)

3.4000000000000004
2.4000000000000004

##### Multiplication

In [5]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [9]:
result_div = num2 / num1
print(result_div)

result_div /= 3
print(result_div)

2.7
0.9

##### Floor Division

In [12]:
result_floor = num2 // num1
print(result_floor)

result_floor //=2
print(result_floor)

2.0
1.0

##### Modulo

In [14]:
result_mod = 13 % 2
print(result_mod)

result_mod %= 2
print(result_mod)

1
1

##### Exponential

In [17]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [4]:
name = 'Brandon'
print(name)

Brandon

##### print() <br>
<p>Don't forget about end=' '</p>

In [7]:
print ('This is my first name: ', name)

print ("Full Name: ", name, end=" Apol")

This is my first name:  Brandon
Full Name:  Brandon Apol

##### String Concatenation

In [10]:
first_name= "John"
last_name= "Smith"

full_name = first_name + " " + last_name
print(full_name)

full_name += ", Jr "
print(full_name)

John Smith
John Smith, Jr

##### Type Conversion

In [12]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num)

32
32

##### input()

In [16]:
# Input will always return a string

# name = input("What is your name?" )
# print("Nice to meet you, " + name)

age = int(input("What is your age?"))
add_age = age + 5
print(add_age)

What is your age?50
55

##### format()

In [18]:
age = input("What is your age? ")

result_string = 'You are {} {} and you are getting wiser!'.format(age, name)
print(result_string)

result_string = f'{age} is a great time in life!!'
print(result_string)

What is your age? 12
You are 12 Brandon and you are getting wiser!
12 is a great time in life!!

##### Old Way (python 2)

In [19]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string)

12 is a great time in life!!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [22]:
name = input('What is your name?' )
color = input('What color is your car?' )
year = input('What year is your car?' )
model = input('What model is your car?' )
results = f"{name}, year{year} {model}'s color is {color}."

print(results)

What is your name?Sakiko
What color is your car?White
What year is your car?023
What model is your car?Jeep
Sakiko, year023 Jeep's color is White.

### If Statements

In [2]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
num3 = 1

# if num1 == num2:
# print('Equal Values')
# else:
# print('Not Equal')

if num2 < num1 or num3 > 0:
        print("This ran!")
else:
        print("You are here")

This ran!

##### 'is' keyword

In [3]:
#This "is" keyword is for checking for the same object, but not the same value

num3 = 55

if num3 == 55:
    print("This is the exact number/object")

This is the exact number/object

##### 'in' keyword

In [4]:
# Check if a character is in a string

char_name = "Frodo Baggins"

if "Frodo" in char_name:
    print("The ring bearer")

The ring bearer

##### 'not in' keyword'

In [5]:
sega_char = "Sonic"

if "a" not in sega_char:
    print('a is NOT here')

a is NOT here

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [7]:
#Output: True -- if p is found
#false -- if p is not found

my_variable = input('What is your input?')

if "p" in my_variable:
    print("the letter 'p' is here")
else:
    print("the letter 'p' is not here")

What is your input?water bottle
the letter 'p' is not here

Using 'and'/'or' with If Statements

In [11]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

#if with 'and' statement
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("true and true")

true and true

### Elif Statements

In [26]:
first_name = input('what is your name?')

if first_name == "Smith":
    print("The name is Smith")
elif first_name == "Brandon":
    print("the name is Brandon")
elif first_name != "Max":
    print("the name is not Max")
else:
    print("The name is Max")

what is your name?Max
The name is Max

### Else Statements

In [ ]:
# see above

### For Loops

In [36]:
# Syntax:
# for counter in condition

name = "Brandon Apol"
a_list = [1, 2, 3, 4]

for i in a_list:
    print(i)

1
2
3
4

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [37]:
name = "Brandon Apol"

for i in name:
    if i == "a":
        continue
    print(i)

B
r
n
d
o
n

A
p
o
l

##### Break Statement

In [ ]:
# will break out of current loop

In [38]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [42]:
name = "Brandon Apol"

for i in name:
    pass

##### Double For Loops

In [44]:
# for i in range(5):
   # for j in range(5):
       # print('i = ', i, 'j = ', j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [45]:
#Syntax:
#while keyword, condiion statement

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [46]:
game_over = True

while game_over:
    print('Infinite Loop')
    user_input = input("would you like to stop?")
    if user_input == 'Yes':
        game_over = False

Infinite Loop
would you like to stop?no
Infinite Loop
would you like to stop?no
Infinite Loop
would you like to stop?no
Infinite Loop
would you like to stop?yes
Infinite Loop
would you like to stop?yes
Infinite Loop
would you like to stop?assss
Infinite Loop
would you like to stop?Yes

##### While & For Loops Used Together

In [47]:
num = 0

while num < 5:
    print('\nWhile loop iteration: ' + str(num))
    
    for i in range(2):
        print('For loop iteration: ' + str(i))
        
    num += 1

While loop iteration: 0
For loop iteration: 0
For loop iteration: 1

While loop iteration: 1
For loop iteration: 0
For loop iteration: 1

While loop iteration: 2
For loop iteration: 0
For loop iteration: 1

While loop iteration: 3
For loop iteration: 0
For loop iteration: 1

While loop iteration: 4
For loop iteration: 0
For loop iteration: 1

### Built-In Functions

##### range()

In [48]:
# raange(start, stop, step)

for i in range(1, 20, 3):
    print(i)

1
4
7
10
13
16
19

##### len()

In [49]:
name = input("Give me the name of your favarite book: ")

length = len(name)
print(length)

Give me the name of your favarite book: Lord of the rings
17

##### help()

In [50]:
#Use this function to view more info about a python function
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [53]:
#check a variable to find out what object family (or data type) it belongs to
#isinstance(var, type)
num = 4.5
if isinstance(num, int):
    print(f"{num} is an int")
else:
    print(f"{num} is a float!")

4.5 is a float!

##### abs()

In [54]:
# /-5/ = 5

print(abs(-5))

5

### Try and Except

In [57]:
# use this to log out graceful and useful error message
# does not stop the program! Neato!

# input_num = int(input('Guess a number!'))
# print('Your number is ' + str(input_num))

try: 
    input_num = int(input('Guess a number'))
    print("your number is " + str(input_num))
except:
    print("that didn't work! Chnage ypur input to a number!")

Guess a numberl
that didn't work! Chnage ypur input to a number!

### Lists

##### Declaring Lists

In [68]:
list_1 = []

names = ['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']

##### Indexing a List

In [73]:
#list_name(start: stop: step)

#single index
print(names[1:])

#print starting at index 1 going to the end
print(names[2:])

#print starting at the beginning of a list up until a number
print(names[:2])

#print starting at index 1 and going up by 2 in each iteration
print(names[1::2])

#print starting at the back and display in reverse order
print(names[::-1])

['Cindy', 'Kathy', 'Bob', 'Nate']
['Kathy', 'Bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'Bob']
['Nate', 'Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [74]:
names.append('Brandon')
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate', 'Brandon']

##### .insert()

In [75]:
names.insert(3, "Devon")
print(names)

['Max', 'Cindy', 'Kathy', 'Devon', 'Bob', 'Nate', 'Brandon']

##### .pop()

In [76]:
# Defaults to the last value if no parameter is given
# pop returns the element that was removed in case you want to assign in to a variable

my_name = names.pop(2)
print(my_name)
print(names)

Kathy
['Max', 'Cindy', 'Devon', 'Bob', 'Nate', 'Brandon']


##### .remove()

In [77]:
# values to be tremoved rather than index
# names.remove('bob)')
#print(names)

#remove multiple brandons from list
while 'Brandon' in names:
    names.remove('Brandon')
print(names)

['Max', 'Cindy', 'Devon', 'Bob', 'Nate']

##### del()

In [78]:
# goes by index, rather than value
# be careful with del, it can cause indexing errors if not used carefully

del(name[1])
print(names)

['Max', 'Cindy', 'Devon', 'Bob', 'Nate']

##### Concatenating Two Lists

In [79]:
# will append two lists togetehr, will NOT add the values!

list_2 = [0, 1, 2]
list_3 = [3, 4, 5]

large_list = list_2 + list_3 
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [81]:
# lists can hold any type of other element! Including other lists
# they can go as deep as you want: this is called nested lists

names = ["Max", "sam", "Josh", ["Sally", ["Sue", "Jim"], "Tameka"]]
print(names)
print(names[3][1][1])

['Max', 'sam', 'Josh', ['Sally', ['Sue', 'Jim'], 'Tameka']]
Jim

##### Looping Through Lists

In [83]:
# two ways to loop through a list! One is by index: the other is by using the 'in' keyword

# by index
for i in range(len(names)):
    print(names[i])
    
# loop with 'in'
for i in names:
    print(i)

Max
sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']
Max
sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [84]:
num = 1
while True:
    cube = num ** 3
    if cube > 1000:
        break
    print(cube)
    num += 1

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [85]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

count = 0
num = 2

while count < 100:
    if is_prime(num):
        print(num)
        count += 1
    num += 1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [86]:
age = int(input("Enter your age: "))

if age < 18:
    print("Kids")
elif age >= 18 and age <= 65:
    print("Adults")
else:
    print("Seniors")

Enter your age: 18
Adults